deps
ebin
log
ct_logs/
riak_test
smoke_test
.eunit
.DS_Store
out
search-corpus/spam.0
erl_crash.dump
*~
#*#
doc/
!doc/overview.edoc
*.jar
coverage
tags
riak-*
*.png
.rebar/
.local_dialyzer_plt
dialyzer_unhandled_warnings
dialyzer_warnings
.idea
riak_test.iml

