{require_otp_vsn, "R16|17|18|19|20"}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.
%%{edoc_opts, [{doclet, edown_doclet}, {pretty_printer, erl_pp}]}.
%%{edoc_opts, [{doclet, my_layout}, {pretty_printer, erl_pp}]}.
%%{edoc_opts, [{layout, my_layout}, {file_suffix, ".xml"}, {pretty_printer, erl_pp}]}.
{erl_opts, [{src_dirs, [src, intercepts, perf]},
           % warnings_as_errors,
	   {parse_transform, lager_transform}]}.
{erl_first_files, ["src/rt_intercept_pt.erl"]}.

{eunit_opts, [verbose]}.

{deps, [
        gen_fsm_compat,
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "3.2.1"}}},
        {getopt, ".*", {git, "git://github.com/jcomellas/getopt", {tag, "v0.4"}}},
        {meck, {git, "git://github.com/eproxus/meck.git", {tag, "0.8.13"}}},
        {mapred_verify, ".*", {git, "git://github.com/basho/mapred_verify", {branch, "develop-3.0"}}},
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {branch, "develop-3.0-292"}}},
        {riakhttpc, ".*", {git, "git://github.com/basho/riak-erlang-http-client", {branch, "develop-3.0-292"}}},
        {kvc, "1.7.0", {git, "https://github.com/etrepum/kvc", {tag, "v1.7.0"}}},
        {kv_index_tictactree, ".*", {git, "https://github.com/martinsumner/kv_index_tictactree.git", {branch, "develop-3.0"}}}
       ]}.

{escript_incl_apps, [goldrush, lager, getopt, riakhttpc, riakc, ibrowse, mochiweb, kvc, kv_index_tictactree]}.
{escript_emu_args, "%%! -escript main riak_test_escript +K true +P 10000 -env ERL_MAX_PORTS 10000\n"}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/riak_test\" ./riak_test"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ riak_test* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.
{profiles, [{test, [{extra_src_dirs, ["tests", "perf"]}]}]}.
%% {plugin_dir, "src"}.
%% {plugins, [rebar_riak_test_plugin]}.
%% {riak_test, [
%%   {test_paths, ["tests", "perf"]},
%%   {test_output, "ebin"}
%%]}.
