{require_otp_vsn, "R13B04|R14|R15|R16"}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.
%%{edoc_opts, [{doclet, edown_doclet}, {pretty_printer, erl_pp}]}.
%%{edoc_opts, [{doclet, my_layout}, {pretty_printer, erl_pp}]}.
%%{edoc_opts, [{layout, my_layout}, {file_suffix, ".xml"}, {pretty_printer, erl_pp}]}.
{erl_opts, [{src_dirs, [src, intercepts, perf]},
           warnings_as_errors, {parse_transform, lager_transform}]}.
{erl_first_files, ["src/rt_intercept_pt.erl"]}.

{eunit_opts, [verbose]}.

{deps, [
        {getopt, ".*", {git, "https://github.com/basho/getopt", {tag, "v0.4"}}},
        {kvc, ".*", {git, "https://github.com/basho/kvc", {tag, "v1.5.0"}}},
        {lager, ".*", {git, "https://github.com/basho/lager", {tag, "3.2.4"}}},
        {druuid, ".*", {git, "https://github.com/basho/druuid.git", {tag, "0.2"}}},
        {mapred_verify, ".*", {git, "https://github.com/basho/mapred_verify", {tag, "0.1"}}},
        {meck, ".*", {git, "https://github.com/basho/meck.git", {tag, "0.8.2"}}},
        {rebar_lock_deps_plugin, ".*", {git, "https://github.com/basho/rebar_lock_deps_plugin.git", {tag, "3.1.0p1"}}},
        {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client", {branch, "develop"}}},
        {s3_api_tests, ".*", {git, "git@github.com:basho/s3-api-tests.git", {branch, "minimal-api-tests"}}, [raw]},
        {riakhttpc, ".*", {git, "https://github.com/basho/riak-erlang-http-client", {branch, "develop"}}}
       ]}.

{escript_incl_apps, [goldrush, lager, getopt, riakhttpc, riakc, ibrowse, mochiweb, kvc]}.
{escript_emu_args, "%%! -escript main riak_test_escript +K true +P 10000 -env ERL_MAX_PORTS 10000\n"}.
{plugin_dir, "src"}.
{plugins, [rebar_riak_test_plugin, rebar_lock_deps_plugin]}.
{riak_test, [
    {test_paths, ["tests", "perf"]},
    {test_output, "ebin"}
]}.
