{require_otp_vsn, "R13B04|R14|R15"}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.
%%{edoc_opts, [{doclet, edown_doclet}, {pretty_printer, erl_pp}]}.
%%{edoc_opts, [{doclet, my_layout}, {pretty_printer, erl_pp}]}.
%%{edoc_opts, [{layout, my_layout}, {file_suffix, ".xml"}, {pretty_printer, erl_pp}]}.
{erl_opts, [{src_dirs, [src]},
           warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [
        {lager, "1.2.0", {git, "git://github.com/basho/lager", {tag, "1.2.0"}}},
        {meck, ".*", {git, "git://github.com/eproxus/meck"}},
        {mapred_verify, ".*", {git, "git://github.com/basho/mapred_verify"}}
       ]}.

{escript_incl_apps, [lager]}.

{plugin_dir, "src"}.
{plugins, [rebar_riak_test_plugin]}.
{riak_test, [
    {test_paths, ["tests"]},
    {test_output, "rt/ebin"}
]}.
