%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{default, [
    {giddyup_host, "localhost:5000"},
    {giddyup_user, "user"},
    {giddyup_password, "password"},
    {rt_max_wait_time, 600000},
    {rt_retry_delay, 1000},
    {rt_harness, rtdev},
    {rt_scratch_dir, "/tmp/riak_test_scratch"},
    {basho_bench, "/Users/dparfitt/basho/basho_bench"},
    {spam_dir, "/Users/dparfitt/riak_test/search-corpus/spam.0"},
    {platform, "osx-64"}
]}.

{rtdev, [
    {rt_project, "riak"},
    {rtdev_path, [{root, "/Users/dparfitt/rt/riak"},
                  {current, "/Users/dparfitt/rt/riak/current"},
                  {previous, "/Users/dparfitt/rt/riak/riak-1.2.1"},
                  {legacy, "/Users/dparfitt/rt/riak/riak-1.1.4"}
                 ]}
]}.

{rtee, [
    {rt_project, "riak_ee"},
    {cluster_a_size, 3},
    {num_nodes, 6},
    {repl_upgrade_order, "forwards"},
    {rtdev_path, [{root, "/Users/dparfitt/rt/riak_ee"},
                  {current, "/Users/dparfitt/rt/riak_ee/current"},
                  {previous, "/Users/dparfitt/rt/riak_ee/riak_ee-1.2.1"},
                  {legacy, "/Users/dparfitt/rt/riak_ee/riak_ee-1.1.4"}
                 ]}
]}.

{intercept_example,
 [
  {load_intercepts, true},                      % true is default
  {intercepts,
   [
    {riak_kv_vnode, [{{put,7}, dropped_put}]}
   ]}
 ]}.


