{rt_deps, ["/Users/jtuple/basho/CLEAN2/riak/deps"]}.
{rt_max_wait_time, 180000}.
{rt_retry_delay, 500}.
{rt_harness, rtdev}.
{rtdev_path, [{root, "/tmp/rt"},
              {current, "/tmp/rt/current"},
              {"1.1.4", "/tmp/rt/riak-1.1.4"},
              {"1.0.3", "/tmp/rt/riak-1.0.3"},
              {"0.14.2", "/tmp/rt/riak-0.14.2"}]}.

