{rt_deps, ["/Users/jtuple/basho/riak-1.2/deps",
           "/Users/jtuple/basho/DH/basho_harness/../",
           "/Users/jtuple/basho/DH/basho_harness/deps"]}.
{rt_max_wait_time, 180000}.
{rt_retry_delay, 500}.
{rt_harness, rtharness}.
{rtharness_path, "/Users/jtuple/basho/DH/basho_harness"}.
{rtharness_projects, [{current,  "riak.config"},
                      {"1.1.4",  "riak-114.config"},
                      {"1.0.3",  "riak-103.config"},
                      {"0.14.2", "riak-0142.config"}]}.
