{ suite1, 
  [
    { verify_listkeys, 
      [
        { backend, bitcask },
        { backend, eleveldb }
      ] 
    },
    { gh_riak_core_154, 
      [
        { backend, [bitcask,leveldb] }
      ] 
    }
  ]  
}.
{ suite2, 
  [
    { gh_riak_core_154, 
      [
        { backend, [bitcask,leveldb] }
      ] 
    }
  ]  
}.

